// Color Variables
$primary-color: #1cf;
$secondary-color: #9933af;
$text-color: #101808;
$text-color-light: #edc;
$text-color-dark: #1e1e4b;
$body-color: #eaeaeb;
$border-color: #1a1a20;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'ubuntu', sans-serif;
$secondary-font: 'Amatic';
$icon-font: 'themify';

